// COLORS
$light-gray: rgb(208, 204, 208)
$dark-gray: rgb(96, 88, 86)
$white: rgb(242, 243, 247)
$orange: rgb(255, 152, 43)
$blue: rgb(30, 27, 73)

// SIZES
$hamburger-break-point: 600px
$max-width: 900px