// LIBRE BASKERVILLE
@font-face
  font-family: 'Libre Baskerville'
  src: url('../../fonts/librebaskerville-regular.woff') format('woff')
  font-weight: 400
  font-style: normal

@font-face
  font-family: 'Libre Baskerville'
  src: url('../../fonts/librebaskerville-italic.woff') format('woff')
  font-weight: 400
  font-style: italic

@font-face
  font-family: 'Libre Baskerville'
  src: url('../../fonts/librebaskerville-bold.woff') format('woff')
  font-weight: 700
  font-style: normal

// RALEWAY
@font-face
  font-family: 'Raleway'
  src: url('../../fonts/raleway-thin.woff') format('woff')
  font-weight: 100
  font-style: normal

@font-face
  font-family: 'Raleway'
  src: url('../../fonts/raleway-thinitalic.woff') format('woff')
  font-weight: 100
  font-style: italic

@font-face
  font-family: 'Raleway'
  src: url('../../fonts/raleway-extralight.woff') format('woff')
  font-weight: 200
  font-style: normal

@font-face
  font-family: 'Raleway'
  src: url('../../fonts/raleway-extralightitalic.woff') format('woff')
  font-weight: 200
  font-style: italic

@font-face
  font-family: 'Raleway'
  src: url('../../fonts/raleway-light.woff') format('woff')
  font-weight: 300
  font-style: normal

@font-face
  font-family: 'Raleway'
  src: url('../../fonts/raleway-lightitalic.woff') format('woff')
  font-weight: 300
  font-style: italic

@font-face
  font-family: 'Raleway'
  src: url('../../fonts/raleway-regular.woff') format('woff')
  font-weight: 400
  font-style: normal

@font-face
  font-family: 'Raleway'
  src: url('../../fonts/raleway-italic.woff') format('woff')
  font-weight: 400
  font-style: italic

@font-face
  font-family: 'Raleway'
  src: url('../../fonts/raleway-medium.woff') format('woff')
  font-weight: 500
  font-style: normal

@font-face
  font-family: 'Raleway'
  src: url('../../fonts/raleway-mediumitalic.woff') format('woff')
  font-weight: 500
  font-style: italic

@font-face
  font-family: 'Raleway'
  src: url('../../fonts/raleway-semibold.woff') format('woff')
  font-weight: 600
  font-style: normal

@font-face
  font-family: 'Raleway'
  src: url('../../fonts/raleway-semibolditalic.woff') format('woff')
  font-weight: 600
  font-style: italic

@font-face
  font-family: 'Raleway'
  src: url('../../fonts/raleway-bold.woff') format('woff')
  font-weight: 700
  font-style: normal

@font-face
  font-family: 'Raleway'
  src: url('../../fonts/raleway-bolditalic.woff') format('woff')
  font-weight: 700
  font-style: italic

@font-face
  font-family: 'Raleway'
  src: url('../../fonts/raleway-extrabold.woff') format('woff')
  font-weight: 800
  font-style: normal

@font-face
  font-family: 'Raleway'
  src: url('../../fonts/raleway-extrabolditalic.woff') format('woff')
  font-weight: 800
  font-style: italic
@font-face
  font-family: 'Raleway'
  src: url('../../fonts/raleway-black.woff') format('woff')
  font-weight: 900
  font-style: normal

@font-face
  font-family: 'Raleway'
  src: url('../../fonts/raleway-blackitalic.woff') format('woff')
  font-weight: 900
  font-style: italic

// FONTELLO ICONS
@font-face
  font-family: 'Fontello'
  src: url('../../fonts/fontello.woff') format('woff')
  font-weight: 400
  font-style: normal

[class^="icon-"]:before, [class*=" icon-"]:before
  font-family: "fontello"
  font-style: normal
  font-weight: normal
  speak: none

  display: inline-block
  text-decoration: inherit
  width: 1em
  margin-right: .2em
  text-align: center
  font-variant: normal
  text-transform: none
  line-height: 1em
  margin-left: .2em
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.icon-phone:before
  content: '\e802'
.icon-mail:before
  content: '\e801'
.icon-twitter-bird:before
  content: '\f303'
.icon-github:before
  content: '\f308'
.icon-instagram:before
  content: '\f31f'