@import '../layout/shared-variables'

// typography
html
  font-size: 18px
  height: 100%
  width: 100%
  background-color: $white
  color: $dark-gray

body
  font-family: "Libre Baskerville"


// LAYOUT
#app-container
  width: 100%

// skinny layout
@media (max-width: $hamburger-break-point)
  #app-container
    margin-top: 2.2rem

// normal layout
@media (min-width: $hamburger-break-point)
  #app-container
    margin-top: 3rem
    // padding: 1rem 0.5rem

