@import '../layout/shared-variables'

#menu
  font-family: 'Raleway'
  font-size: 0.85rem
  text-transform: uppercase
  letter-spacing: 0.1rem
  position: fixed
  top: 0
  z-index: 100
  ul
    list-style-type: none

// skinny layout
@media (max-width: $hamburger-break-point)
  #menu
    left: 0
    width: 100%
    font-weight: 600
    +z-depth-1
    #menu-toggle
      display: block
      padding: 0.5rem
      background-color: rgba($blue, 0.85)
      color: $orange
      #menu-icon
        display: inline-block
        height: 1rem
        margin-right: 0.25rem
        #hamburger-lines
          fill: $orange
    ul
      display: none
      background-color: rgba($blue, 0.85)
      color: $white
      li
        padding: 0.75rem 2.1rem
        a.menu-active
          border-bottom: 0.15rem solid $white
      li:hover
        color: $blue
        background-color: rgba($white, 0.85)
        a.menu-active
          border-color: $blue
    ul.menu-open
      display: inline-block

// normal layout
@media (min-width: $hamburger-break-point)
  #menu
    width: 100%
    left: 50%
    transform: translateX(-50%)
    padding: 1rem 0.5rem
    font-weight: 400
    // background-color: rgba($blue, 0.85)
    background-color: $blue
    +z-depth-1
    #menu-toggle
      display: none
    ul
      width: 100%
      max-width: $max-width
      margin: 0 auto
      color: darken($orange, 10%)
      display: flex
      flex-direction: row
      justify-content: space-between
    li
      display: inline-block
      a.menu-active
        color: lighten($orange, 10%)
        border-bottom: 0.1rem solid lighten($orange, 10%)
    li:hover
      color: lighten($orange, 10%)
      font-weight: 700
