<section class="page-container" id="portfolio">
  <h1>Selected work</h1>
  <div id="portfolio-ctrls">
    <span>by <a id="btn-projects" ng-class="{active: ctrl.sortMode == 'projects'}" ng-href="#/portfolio/projects">Project</a></span>
    <span>by <a id="btn-roles" ng-class="{active: ctrl.sortMode == 'roles'}" ng-href="#/portfolio/roles">Role</a></span>
  </div>

  <section class="project-list" ng-show="ctrl.sortMode == 'projects'">
    <div class="portfolio-main-item" ng-repeat="project in ctrl.projects">
      <h2><a ng-href="#/project-detail/{{project.title}}">{{project.title}}</a></h2>
      <div class="portfolio-main-item-content-wrapper">
        <img class="portfolio-main-thumb" ng-show="project.thumbnail" ng-src="{{project.thumbnail}}" ng-click="ctrl.gotoProject(project.title)"/>
        <div class="portfolio-blurb">
          <p class="portfolio-blurb-text">{{project.shortBlurb}} <a class="read-more" ng-href="#/project-detail/{{project.title}}"> More&hellip;</a></p>
          <div class="portfolio-blurb-detail-description">
            <span class="portfolio-blurb-detail-header">Framework:</span>
            <span class="">{{project.technologies}}</span><br />
            <span class="portfolio-blurb-detail-header">Roles:</span>
            <span ng-repeat="n in project.nodes">
              <a class="portfolio-blurb-detail-link" ng-href="#/project-detail/{{project.title}}/{{n.title}}">
                {{n.title}}
              </a>
              <span ng-show="!$last">, </span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="role-list" ng-show="ctrl.sortMode == 'roles'">
    <div class="portfolio-main-item" ng-repeat="r in ctrl.roles" ng-show="r.projects.length > 0">
      <h2><a ng-href="#/role-detail/{{r.role}}">{{r.title}}</a></h2>
      <div class="portfolio-main-item-content-wrapper">
        <div class="portfolio-blurb">
          <p class="portfolio-blurb-text">
            <span ng-bind-html="r.shortBlurb"></span>
            <a class="read-more" ng-href="#/role-detail/{{r.role}}"> More&hellip;</a>
          </p>
          <p class="portfolio-blurb-detail-description">
            <span class="portfolio-blurb-detail-header">{{r.workKind}} projects: </span>


            <span ng-repeat="p in r.projects">
              <a class="portfolio-blurb-detail-link" ng-href="#/role-detail/{{r.role}}/{{p.title}}">
                {{p.title}}
              </a>
              <span ng-show="!$last">, </span>
            </span>
          </p>
        </div>
      </div>
    </div>
  </section>


</section>